@font-face {
  font-family: "Prompt-Bold";
  src: url ("/fonts/Prompt-Bold.ttf");
}
@font-face {
  font-family: "Prompt-Medium";
  src: url ("/fonts/Prompt-Medium.ttf");
}
@font-face {
  font-family: "Prompt-Regular";
  src: url ("/fonts/Prompt-Regular.ttf");
}

:root {
  --primary-color: #584632;
  --primary-color-dark: #433423;
  --light-color: #dee2e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt-Medium";
}
.title {
  font-family: "Prompt-Regular";
}
.img-logo {
  height: 70px;
}
.text-logo,
.text-title {
  color: var(--primary-color);
}
.btn-custom {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-custom:hover {
  background-color: var(--primary-color-dark);
  color: #fff;
}
.bg-main {
  background-color: #f2f2f0;
  color: var(--primary-color);
}
.product-list {
  padding: 8px 10px;
  display: flex;
}
.product-list:not(:last-child) {
  border-bottom: 1px solid var(--light-color);
}
.product-list span {
  flex-grow: 1;
  text-align: left;
}

.mt-80 {
  margin-top: 80px;
}
.pd-title {
  padding: 16px;
  border-radius: 6px;
}
.h1-bold{
  font-size:80px;
}
